<%= content_tag(:div, :class => "white-row", :style => "margin-top:10px;", :id => dom_id(answer)) do %>
  <div class="r-corn">
    <div class="buttons" style="padding-top:0px;">
      <div class="act-bl">
        <%= link_to manage_icon("delete"), 
          manage_feedback_answer_path(:id=>answer.id), 
          :method=>:delete, 
          :confirm=>t("manage.confirm_delete"), 
          :class=>"icons",
          :remote => true %>
      </div>
    </div>
      
    <%= answer.author.try(:name) %>:
    <%= answer.content %>
  </div>
<% end %>
